html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px; /* bottom = footer height */
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
}

#logo {
  width: 30%;
  height: 30%;
}

.underline {
  text-decoration: underline;
}

.alert {
  text-align: center;
}

.margin-bottom {
  margin-bottom: 10px;
}

.red {
  color: red;
}

.pointer {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}